<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/contact-us.css">
    <title>Contact Us</title>
</head>
<body>
<header>
    <nav class="top-nav">
        <div class="logo">
            <img src="images/logo.png" alt="Car Sales Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/join-us">Join Our Team</a></li>
            <li><a href="/services">Services & Financing</a></li>
            <li><a href="/blog">Car Insights</a></li>
            <li><a href="/reviews">Customer Reviews</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>

    <h1>Contact Us</h1>
</header>
<main>
    <section>
        <div class="container">
            <form action="action_page.php">
                <p class="title">Get in touch with us. Fill out the form below:</p>

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
    </section>
</main>
</body>

</html>
