<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Sales Portal - Sell Your Car</title>
    <link rel="stylesheet" href="/styling/sell-car.css">
</head>
<body>
<header>
    <nav class="top-nav">
        <div class="logo">
            <img src="/images/logo.png" alt="Car Sales Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/join-us">Join Our Team</a></li>
            <li><a href="/services">Services & Financing</a></li>
            <li><a href="/blog">Car Insights</a></li>
            <li><a href="/reviews">Customer Reviews</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
</header>

<main >
    <h1>Thank you for your submission, your offer will be checked out as soon as possible.</h1>
</main>

</body>
</html>
